@using Model.EF
@{
    ViewBag.Title = "Trang chủ";
    var newProducts = (List<Product>)ViewBag.NewProducts;
    var featureProducts = (List<Product>)ViewBag.FeatureProducts;
}


<div class="header_slide">
    <div class="header_bottom_left">
        @{Html.RenderAction("_LeftNavigation", "Layout");}
    </div>
    <div class="header_bottom_right">
        @{Html.RenderAction("_Slider", "Layout");}
    </div>
    <div class="clear"></div>
</div>


<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>Sản phẩm mới</h3>
            </div>
            <div class="see">
                <p><a href="#">Xem thêm sản phẩm</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @foreach (var newProduct in newProducts)
            {
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="/dien-thoai/@newProduct.MetaTitle-@newProduct.Id">
                        <img src="~/Assets/Common/images/products/@newProduct.Image" alt="@newProduct.Name" title="@newProduct.Name" />
                    </a>
                    <h2 class="nameProduct">@newProduct.Name</h2>

                    @if (newProduct.PromotionPrice.HasValue)
                    {
                        <div class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">@newProduct.PromotionPrice.Value.ToString("N0")<sup>đ</sup></span></p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="@Url.Action("AddToCart", "Cart")">Mua ngay</a></h4>
                            </div>
                            <div class="clear"></div>
                            <small class="pull-left"><del>@newProduct.Price.ToString("N0")</del><sup>đ</sup></small>
                        </div>
                    }
                    else
                    {
                        <div class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">@newProduct.Price.ToString("N0")<sup>đ</sup></span></p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="@Url.Action("AddToCart", "Cart")">Mua ngay</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="content_bottom">
            <div class="heading">
                <h3>Sản phẩm nổi bật</h3>
            </div>
            <div class="see">
                <p><a href="#">Xem thêm sản phẩm</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @foreach (var featureProduct in featureProducts)
            {
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="/dien-thoai/@featureProduct.MetaTitle-@featureProduct.Id">
                        <img src="~/Assets/Common/images/products/@featureProduct.Image" alt="@featureProduct.Name" title="@featureProduct.Name" />
                    </a>
                    <h2>@featureProduct.Name</h2>
                    @if (featureProduct.PromotionPrice.HasValue)
                    {
                        <div class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">@featureProduct.PromotionPrice.Value.ToString("N0")<sup>đ</sup></span></p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="@Url.Action("AddToCart", "Cart")">Mua ngay</a></h4>
                            </div>
                            <div class="clear"></div>
                            <small class="pull-left"><del>@featureProduct.Price.ToString("N0")</del><sup>đ</sup></small>
                        </div>
                    }
                    else
                    {
                        <div class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">@featureProduct.Price.ToString("N0")<sup>đ</sup></span></p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="@Url.Action("AddToCart", "Cart")">Mua ngay</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

</div>
