@model Model.EF.Slide

@{
    ViewBag.Title = "Thêm quảng cáo mới";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Thêm quảng cáo mới</h2>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group input-group">
            <span class="input-group-addon">@Html.LabelFor(model => model.Name)</span>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon">@Html.LabelFor(model => model.Image)</span>
            @Html.TextBoxFor(model => model.Image, new { @class = "form-control" })
            <button type="button" id="browse" class="form-control btn btn-info">Browse</button>
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon">@Html.LabelFor(model => model.Description)</span>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon">@Html.LabelFor(model => model.Link)</span>
            @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon">@Html.LabelFor(model => model.DisplayOrder)</span>
            @Html.DropDownListFor(model => model.DisplayOrder, null, new { @class = "form-control" })
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon">@Html.LabelFor(model => model.Target)</span>
            @Html.DropDownListFor(model => model.Target, null, new { @class = "form-control" })
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon">@Html.LabelFor(model => model.Status)</span>
            @Html.DropDownListFor(model => model.Status, null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i> Tạo mới
            </button>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        CKEDITOR.replace('Description');
</script>
}
